[2018-10-18 11:13] vvyomjjain opened #1 "Add a readme"
Hey @ykdojo,

This sounds like a really cool project judging by the idea described in the video. But the repo doesn't have a readme to give a description. I know the repo doesn't have much to describe as of now, I'll still suggest adding one.

[2018-10-18 15:22] ykdojo commented on #1
Okay, good idea. If you don't mind, it would be great if you could send me a pull request for that, too :)

(I think you should be able to send it but I'm not 100% sure since I'm not that used to using GitHub.)

[2018-10-18 15:34] ykdojo opened #2 "Create a hello world app"
This is going to be my next video.

[2018-10-18 15:42] ykdojo opened #3 "Figure out what license we should use for this project"
This is my first open source project, so I don't know. MIT? Apache? Or something else?

[2018-10-18 15:44] salehciq commented on #3
I like the MIT license, as far as I know, it's the most open one, but I haven't done much research on the subject. There's this [resource](https://choosealicense.com/licenses/) to compare licenses.

[2018-10-18 15:48] vvyomjjain commented on #1
Okay on it. Don't worry about the GitHub thing. I'll help you out, that's what GitHub is all about. And since you capitalized 'H', you're already getting there. 😂

[2018-10-18 16:12] ykdojo commented on #1
Lol thanks!!

[2018-10-18 18:40] #1 closed

[2018-10-18 23:43] glxnull opened #6 "Change the database management system"
Which database manager do you consider the best option to use in the project?

[2018-10-19 16:36] ykdojo commented on #6
No idea yet-- will need to figure out!

[2018-10-19 16:41] ykdojo opened #7 "Update the Django version to 2.1.2, which is the latest one."
It's just because GitHub says Django < 2.1.2 has some security issues. I'm not sure what they are exactly, but probably better to be safe here.

[2018-10-19 22:34] SindhuVempati commented on #6
PostgreSQL might suit better.

[2018-10-20 13:30] didoloan commented on #6
POSTGRESQL works well with Django.

[2018-10-20 15:36] ykdojo commented on #6
Okay cool. Why not MySQL or anything else like that though?

[2018-10-20 15:41] didoloan commented on #6
MySQL would be good too.

[2018-10-20 15:46] didoloan commented on #6
It's just that postgresql has a deeper feature set similar to closed source RDBMS.

[2018-10-20 15:50] ykdojo commented on #6
Okay maybe we'll go with postgresql then. I don't have a strong preference on this though.

[2018-10-20 15:57] rahul9832 commented on #7
How to update @ykdojo? Using pip ?

[2018-10-20 15:59] ykdojo commented on #7
No I think we're going to keep using pipenv for this.

On Sat, Oct 20, 2018 at 11:57 AM rahul9832 <notifications@github.com> wrote:

[2018-10-20 16:39] Anu1601CS commented on #6
@ykdojo yes PostgreSQL is better with Django project.

[2018-10-20 20:10] glxnull commented on #6
A lot of projects begin using MySQL and then according as the app gets bigger they switch to another DB manager.

[2018-10-20 20:14] 5Volts commented on #6
By the way, who's will work on the front end?

On Sat, 20 Oct 2018, 13:10 Antonio Campos, <notifications@github.com> wrote:

[2018-10-20 20:47] ykdojo commented on #6
I'm planning to work on it, plus whoever wants to work on it.

On Sat, Oct 20, 2018 at 4:14 PM Tan Run En <notifications@github.com> wrote:

[2018-10-20 20:50] didoloan commented on #6
Have u decided on the front-end framework to use.

[2018-10-20 20:50] didoloan commented on #6
I would love to work with u on that.

[2018-10-20 20:54] ykdojo commented on #6
Yeah I think I'm going to use plain HTML/CSS/JS at the beginning, and then
maybe React later.

On Sat, Oct 20, 2018 at 4:50 PM didoloan <notifications@github.com> wrote:

[2018-10-20 20:58] didoloan commented on #6
Cool

[2018-10-21 04:41] bsoyka commented on #7
@ykdojo, the issue is that a new version of Django could be released with a change that breaks the code, but it still fits the requirement, so your code should would no longer work.  I recommend [Dependabot](https://dependabot.com/).  When a new version of a dependency (like Django) is released, the bot will make a PR updating the Pipfile with the new version number.  Then, you make sure nothing w

[2018-10-21 05:18] ykdojo commented on #7
Okay sounds good. Thanks for the info!

[2018-10-21 14:08] bsoyka commented on #7
Of course!  Happy to help!

[2018-10-22 07:15] vvyomjjain commented on #3
If we want a simple and open licensing scenario then MIT is good. Otherwise, you can go with apache.

[2018-10-23 19:18] ykdojo commented on #2
Done: https://youtu.be/h7rvyDK70FA

[2018-10-23 19:19] #2 closed

[2018-10-23 19:19] ykdojo opened #11 "Create the *Sign Up with Twitter* function"

[2018-10-23 23:12] cathaldcronin1 commented on #6
@ykdojo You could use Vue, I currently, use it in work and it's very straightforward and quick to get up and running

[2018-10-24 17:09] ykdojo opened #14 "Make a simple Twitter bot with Python"
This is just so that we can learn how to use Twitter API.

Maybe something that says "hello, world back to you!" when it receives a Twitter mention that says "hello, world!"

[2018-10-24 18:36] kmccullen97 commented on #14
What account should this bot control?

[2018-10-24 18:48] ykdojo commented on #14
this one: https://twitter.com/editdojo

[2018-10-24 21:07] sameerchoubey commented on #14
@ykdojo We can use the Tweepy library along with the Twitter API which we can get through Developer account.

[2018-10-24 21:25] ykdojo opened #15 "Make a TODO app with Django"
I'm actually still in the process of learning Django basics.

I realized I should probably build a simple app like a TODO app first. It will be a prerequisite for building the *log in with Twitter* function, I think. (Since we'll need to store user data in our database)

So, maybe this will be my next video, instead.

[2018-10-24 21:33] kmccullen97 commented on #14
To set up Tweepy we need the consumer key, consumer secret, a access token and a access token secret.  Is publicly posting these keys and tokens from the editdojo account a security risk?

[2018-10-24 21:36] ykdojo commented on #14
Yeah I think it's best to put those files in .gitignore.

Then, each of us can get a Twitter dev account separately and test it with our own Twitter account?

[2018-10-24 21:40] kmccullen97 commented on #14
I was thinking the consumer information could be stored into a config.json file, and change the .gitignore to ignore it. This way we each only need to create the json file with the four required info.  Or is there a better way to store this information

[2018-10-25 02:15] ykdojo commented on #14
That sounds like a good method!

On Wed, Oct 24, 2018 at 5:41 PM Kyle McCullen <notifications@github.com>
wrote:

[2018-10-25 05:38] #6 closed

[2018-10-25 19:38] ykdojo commented on #15
My current plan: I'm going to follow the *polls* tutorial on Django's official website first to get a better grasp of the technology.
https://docs.djangoproject.com/en/2.1/intro/tutorial01/

[2018-10-26 12:11] anudeepkollapudi1 opened #17 "Clarification"
Hi ... I wanted to discuss a few things with you. I think you need to mail me at anudeep.kollapudi@gmail.com since I don't know your mail id.

[2018-10-26 14:21] ulissesferreira commented on #3
Get some legal advice on this. Because you want to be permissive but at the same time you gotta ask yourself if it's ok for someone to take your source and profit off of it. If you don't mind so go for the MIT one.

[2018-10-26 19:12] ykdojo commented on #17
Hi, could you send me a message on Slack?

[2018-10-26 19:12] #17 closed

[2018-10-26 20:07] HallBregg opened #19 "How about accounts?"
Maby we should start thinking about creating views and models for users accounts?

[2018-10-26 20:30] ykdojo commented on #19
Yes, I think we should. I was thinking of doing it when I do the log in
with Twitter function

On Friday, October 26, 2018, HallBregg <notifications@github.com> wrote:

[2018-10-27 09:19] HallBregg commented on #19
Maby I could do some mock-up of it?

[2018-10-27 21:57] ykdojo commented on #19
Sure! That’ll be great!

On Saturday, October 27, 2018, HallBregg <notifications@github.com> wrote:

[2018-10-28 11:44] malek2610 commented on #19
@HallBregg What do you use to make mock-ups please?

[2018-10-28 11:49] malek2610 commented on #15
Thanks for sharing

[2018-10-28 12:38] malek2610 commented on #19
@HallBregg I was just asking about the software you're going to use. Actually, I know about [Balsamiq](https://balsamiq.com/) ; it's a commercial software. But I am not sure if it exists an equivalent or other softwares which are used.

[2018-10-28 13:05] HallBregg commented on #19
Yeah, I understood. Maby I should use word "mock up" . All I meant was to make fully working login, and registration (accounts) views and models in Django. I am more backend developer. Dont know much about style and how should it look visually.

[2018-10-28 13:14] malek2610 commented on #19
@HallBregg Oh I see, thanks for your reply.

[2018-10-30 12:58] codepiri commented on #19
@HallBregg

http://pencil.evolus.vn
Pencil is built for the purpose of providing **a free and open-source GUI prototyping** tool that people can easily install and use to create mockups in popular desktop platforms.

[2018-10-30 17:31] malek2610 commented on #19
@HallBregg thanks so much. I'm wondering if it exists an online similar tool (open-source free will be great !)

[2018-11-01 02:50] Barsnes commented on #15
Will you be covering how we could store our data in an online database aswell?

[2018-11-03 02:20] #15 closed, assigned to ykdojo

[2018-11-03 03:08] ykdojo opened #21 "Should we use Node.js for this project?!"
Okay, so I'm happy with using Django so far (even though I haven't built much yet).

However, it seems like Node.js is much more popular these days for backend development.

I'm kind of starting to think, should we use Node.js and maybe Express.js for this project? I know that Node.js is much simpler, but would it be a good tech to use for this particular project?

(I probably won't switch, but I

[2018-11-03 19:18] ykdojo opened #22 "Find the difference between two sets of text with JavaScript"
Example:

- Original text: I had aweesome breakfast tooday.
- Edited text: I had awesome breakfast today.

Given these two sets of text, we should be able to find the difference with JavaScript. And show the difference in UI. This way, it'll be easy to see how the original text has been edited.

In this case, it should look like this: I had awe\<e\>some breakfast to\<o\>day.

(Where \<e\> and \<o\

[2018-11-03 19:23] ykdojo opened #23 "Automatically detect if the given text is Japanese or English with Python"
I think I'm going to release the Twitter-based version of this product for Japanese and English first. So, we should be able to detect if a given tweet is written in Japanese or English with Python. This way, we can only show Japanese tweets coming from Japanese learners to native speakers of the language. Same with English.

[2018-11-03 19:28] ykdojo commented on #14
I'm thinking of working on this one next. I'm probably going to make a video about this, too.

[2018-11-03 19:44] ykdojo commented on #14
Find some references for this.

The official Tweepy documentation: https://tweepy.readthedocs.io/en/v3.6.0/index.html
A freeCodeCamp article: https://medium.freecodecamp.org/creating-a-twitter-bot-in-python-with-tweepy-ac524157a607

I'll try following them and see if I can understand them first.

[2018-11-03 20:06] bhatnaushad commented on #21
Node.js is popular. That would be the only reason to use that. It depends on you. What you find to be the best.

[2018-11-04 01:52] Suicchi commented on #21
As far as I know, Instagram uses both Django and Node.js. So I don't see why not.

[2018-11-04 02:10] ykdojo commented on #21
Some reference materials:
https://blog.geekforbrains.com/after-a-year-of-using-nodejs-in-production-78eecef1f65a
https://blog.geekforbrains.com/after-a-year-of-using-nodejs-in-production-78eecef1f65a

[2018-11-04 02:10] ykdojo commented on #21
Yeah for now I'll keep going with Django for this project. Maybe I'll try Node.js for my next project for comparison.

[2018-11-04 03:14] ykdojo commented on #14
The freeCodeCamp article was kind of follow, but I found another article on this topic.

https://dev.to/emcain/how-to-set-up-a-twitter-bot-with-python-and-heroku-1n39

This looks more promising. Will take a look at it tomorrow morning, I think.

[2018-11-04 15:42] yuruyuri16 commented on #23
Nice. @ykdojo

[2018-11-04 16:40] haruntuncay commented on #22
Hi @ykdojo . Can I be assigned to this please ?
And, I think, added characters in the edited text should also be highlighted with maybe something like greenish background color.

    Original text: I had aweesome breakfast tooday.
    Edited text: I had an awesome breakfast today.

So it may give an output like this:

`<p>I had <span class="appended">an</span> awe<span class="deleted">e</span>some

[2018-11-04 18:20] ykdojo commented on #22
That sounds perfect! I'll assign this to you :)

[2018-11-04 23:46] glxnull commented on #21
Node and express could be used to build a REST api or GraphQL and expose safely users data.
That's what I noticed about how most of startups are using many languages and tools for making deploy.
https://stackshare.io/stacks

[2018-11-05 04:06] ykdojo commented on #14
I'm thinking of putting the keys in a separate Python file and call it keys.py or something.

[2018-11-05 14:52] sahanashenoy commented on #23
@ykdojo does it mean whenever there is a japanese tweet from a person,the person who is familiar with Japanese will only be able to see that.?or all the members in the community?If we notify only japanese familiar people,then while using this twitter app,they must be registered as learning English knows japanese?Is your thought process is the similar to this?,What I have understood.By the way I am

[2018-11-05 20:13] ykdojo commented on #23
Hmm here's an example to clarify.

Suppose User A is learning Japanese, and her native language is English.

She starts using one of her Twitter accounts, say, @uesr_a_jp to start tweeting stuff in Japanese.

Then, Japanese native speakers should start seeing these tweets so they can fix them.

However, I'm only concerned that, what if @user_a_jp starts tweeting stuff in both Japanese and English?

[2018-11-06 21:02] ykdojo commented on #14
Ugh looks like Tweepy is not compatible with Python 3.7. Maybe I'll use Python 3.6 instead.

[2018-11-06 21:52] ykdojo commented on #14
Turns out, downgrading Python is a huge pain.

So, I used this command instead to install a more recent version of tweepy:

I found a related command for this here: https://github.com/tweepy/tweepy/issues/1063

[2018-11-07 19:35] ykdojo commented on #23
Oh yeah, the langdetect library looks good!

[2018-11-07 19:58] ykdojo opened #27 "Decide how to deploy this app"
[Python Anywhere's](https://www.pythonanywhere.com) cheapest option might be just enough for now ($5/month for 1 GB disk, 2000 CPU-seconds per day with MySQL database).

Or should we use Heroku, Digital Ocean, Google Cloud, or anything else?

[2018-11-07 20:03] didoloan commented on #27
I think we should use Digital Ocean

[2018-11-07 20:04] ykdojo commented on #27
Why Digital Ocean?

[2018-11-07 20:07] didoloan commented on #27
Because they have affordable VPS hosting plans.

[2018-11-08 00:32] ykdojo commented on #22
Found this library, but not sure if it would be a good fit for this: https://github.com/jhchen/fast-diff

[2018-11-08 00:35] Camnooten commented on #27
If we deploy this to DigitalOcean, we need to make sure we're doing it right with a web server like nginx and gunicorn because we don't just use Django's built in development server.  I would not recommend Apache with mod_wsgi because I've never gotten that to work. When I deploy an app to DigitalOcean, I always follow [this guide](https://www.digitalocean.com/community/tutorials/how-to-set-up-dja

[2018-11-08 00:52] ykdojo commented on #27
@Camnooten Thank you for the detailed explanation! I'm new to this, so this is super helpful to me personally.

[2018-11-08 00:59] ykdojo commented on #3
Okay, I landed on the MIT license for this. Perhaps I should get more legal advice on this. Meanwhile, I think MIT's good for this project.

Some reference materials:
https://opensource.guide/legal/#which-open-source-license-is-appropriate-for-my-project
https://opensource.org/licenses/MIT
https://simple.wikipedia.org/wiki/MIT_License
https://softwareengineering.stackexchange.com/questions/178486/

[2018-11-08 00:59] #3 closed

[2018-11-08 01:01] ykdojo commented on #22
Maybe it would be better/simpler to just implement this ourselves? That way, it'll be easier to tweak it as we go, too. I just don't like how most of these libraries are really complex to read and edit... Anyway, I'll think about this some more.

[2018-11-08 01:04] Camnooten commented on #27
You're welcome! I love adding my 2 cents to projects like this.

[2018-11-08 14:37] ratdog45 commented on #23
Would you like me to go ahead and create a few functions that make use of the library? @ykdojo

[2018-11-08 15:01] utkarshdubey2 commented on #27
I think using Docker would open new directions for beginners and people on the intermediate level. Using docker with Digital Ocean would be the best for it will be easy to deploy it with Docker.

[2018-11-08 16:09] ykdojo commented on #23
Yeah that would be awesome! Thank you.

On Thu, Nov 8, 2018 at 9:37 AM ratdog45 <notifications@github.com> wrote:

[2018-11-08 16:09] ykdojo commented on #27
Okay, what would be the benefits of using Docker?

On Thu, Nov 8, 2018 at 10:01 AM Utkarsh Dubey <notifications@github.com>
wrote:

[2018-11-08 16:43] utkarshdubey2 commented on #27
The benefits are simple,
It provides stabilization in a great way as you can run it anywhere and the installation do the running of the application would be same.
Also it is good in terms of isolation and security. We also don't have to install various other tools like Gunicorn for deploying as dockers containers are enough. More on docker could be found at http://docker.com

[2018-11-08 23:55] ykdojo commented on #14
K this is done. I'm planning to publish a video about it tomorrow.
https://github.com/ykdojo/twitterbotsample

[2018-11-09 01:50] ykdojo commented on #27
Okay thank you! I’ve never used it before, so it’s good to know.

On Thursday, November 8, 2018, Utkarsh Dubey <notifications@github.com>
wrote:

[2018-11-10 05:31] Tipuch commented on #27
For a start I think pythonanywhere is a great fit for this projet, afterwards depending on how much money you're prepared to spend for the server I'd suggest DigitalOcean (cheaper) or any cloud solution (preferably AWS and GCP) (more expansive generally).

If we use DigitalOcean, the stack nginx + gunicorn (mentioned by @cameron-dahl ) with WSGI is a pretty popular / solid stack, we'll probably al

[2018-11-13 04:32] alpharomeo7 commented on #19
Should there be a username or is email find?
There are pros and cons of Usernames so it is important to think about.

If you decide not to use Username, you would have to use Cumstom User model for Django users.

[2018-11-13 04:39] ykdojo commented on #22
Started working on this today.

Pretty raw and it might be hard to read, but I have some code here already: https://github.com/ykdojo/text_difference_finder

[2018-11-13 05:07] JustaFrank commented on #22
Hey @ykdojo did you look at my pull request ([(24](https://github.com/ykdojo/editdojo/pull/25)])?

[2018-11-13 12:22] lwjcjmx123 commented on #27
digital ocean +1, I have use digital ocean for years, it stable and cheap enough, and have a independence VPS is convenient, you can do anything you want. and it can scale for config, if the app load have increase, you can Improve configuration easily

[2018-11-13 19:14] ykdojo commented on #27
Hmm looks like Digital Ocean is pretty popular, at least among everyone here. Maybe I'll give it a try..

I'm thinking of using either MySQL or PostgreSQL for this project.

[2018-11-13 19:19] ykdojo commented on #22
@JustaFrank hey sorry I thought I'd submitted my comments already. I just sent them again.

[2018-11-13 19:20] ykdojo commented on #22
I was thinking of implementing something on my own and comparing it to yours.

[2018-11-14 02:20] lwjcjmx123 commented on #27
the both of MySQL and PostgreSQL is ok, I prefer to use mysql, because I have only used it, hah, but give it a try for PostgreSQL is a good idea too

[2018-11-15 17:54] verymanley commented on #27
I also have heard good things come of Digital Ocean. It was recommended to me by Isaac Ardis who is an ETC dev member. I lived with him in Hakodate for a couple months..

[2018-11-15 20:21] ykdojo commented on #27
Okay, thank you, everyone!

I think I'll do some research on Digital Ocean, Heroku, and PythonAnywhere. I'll try and see which one's the best option for this particular project. I'll do some research on MySQL vs. PostgreSQL, too.

[2018-11-15 22:12] ykdojo commented on #22
Here are some examples for testing, in English:
- Hello I’m looking of the group for learn english.
-> Hello, I’m looking for a group to learn English with.

- what book are you reading ? i want to start this one… what do you think about ?
-> What book are you reading? I want to start this one… What do you think about it?

- who helps me for improving my English?
-> Can anyone help me improve my E

[2018-11-15 22:21] ykdojo commented on #22
And some test cases in Japanese:
- 日本語でも英語でもドラマよく見ている。
-> 日本語でも英語でもドラマをよく見ています。
- きのうのばんごはんはとてもおいしかたです。
-> きのうのばんごはんはとてもおいしかったです。
- わたしのしごとのま、わたいはそうだいなけしきをみました
-> しごとのあいまにきれいなけしきをみました。
- 知らない人とお喋りのが怖いです。
-> 知らない人とお喋りするのが怖いです。
- Duolingoは本とに凄いアプリです。
-> Duolingoは本当に凄いアプリです。
- 今朝はとても寒い！冬ははやく来る。
-> 今朝はとても寒いですね！冬がもうすぐ来そうです。

[2018-11-16 01:15] JustaFrank commented on #22
I changed a few lines of code, which split the strings by character. Having the option to split by words or character should be enough to cover most languages, I think.
<img width="438" alt="textdif" src="https://user-images.githubusercontent.com/31837071/48591705-ddc55d00-e8f9-11e8-954b-cc9dd1268fcb.PNG">
Should I submit another pull request?

[2018-11-16 02:06] ykdojo commented on #22
Sure, that sounds perfect.

I made my own version [here](https://github.com/ykdojo/text_difference_finder), so I might pick yours or mine, or try merge them later on.

So one of the reasons I wanted to make my own version is because I wanted to learn how it works myself, and another reason is just because I wanted to make a video about it.

Anyway, I think it's good to have multiple solutions avai

[2018-11-25 03:38] ykdojo commented on #21
Will go with Python/Django for now. Maybe I'll use Node/Express for my next project.

[2018-11-25 03:38] #21 closed

[2018-11-25 03:49] ykdojo commented on #22
Solved this in my last video. I'll close this issue for now. https://youtu.be/4SP_AY7GGxw

[2018-11-25 03:49] ykdojo commented on #22
Also thanks for your code, @JustaFrank. I got a lot of inspiration from your code for that video.

[2018-11-25 03:50] #22 closed

[2018-11-25 03:54] ykdojo commented on #19
Okay I'll think about this when I work on #11.

Closing this issue for now.

[2018-11-25 03:54] #19 closed

[2018-11-25 19:51] ykdojo commented on #11
Okay I'm going to start working on this now.

[2018-11-25 20:45] ykdojo commented on #14
Just for a reference, here's the video: https://youtu.be/W0wWwglE1Vc

[2018-11-25 20:45] #14 closed

[2018-11-25 20:46] ykdojo commented on #11
Looks like django-allauth might be a good option for this: https://django-allauth.readthedocs.io/

I remember someone saying that it was hard for them to set it up, so we'll see how it goes... Hopefully it'll be okay.

[2018-11-26 02:53] ykdojo opened #30 "The Twitter sign in dialogue asks for too many things."
We don't need to read or post tweets on behalf of the user. Maybe we should fix this on Twitter's developer website? (Don't add read/write permissions there?)

![image](https://user-images.githubusercontent.com/1811651/48990429-6616df80-f0fc-11e8-94c6-adbe1487af50.png)

[2018-11-26 02:55] ykdojo opened #31 "Fix the behavior that occurs hen the user cancels the Twitter login dialogue"
Currently, the app just redirects to django-allauth's default view. We should fix it.

[2018-11-26 02:55] ykdojo opened #32 "Create a better sign out form"
Currently, it's just django-authall's default view. Fix it.

[2018-11-26 03:00] ykdojo commented on #11
done

[2018-11-26 03:00] #11 closed

[2018-11-26 03:02] ykdojo opened #34 "Fix the name convention - make it more consistent."

[2018-11-26 03:08] ykdojo commented on #34
done: https://github.com/ykdojo/editdojo/commit/0703f1d6d0548bb450639057282764d0be7e5b37

[2018-11-26 03:08] #34 closed

[2018-11-26 19:16] ykdojo opened #35 "When a user signs in, show their Twitter handle (plus maybe store it as a username?)"

[2018-11-26 19:18] ykdojo opened #36 "When a user signs up for the first time, follow their Twitter account from @EditDojo"
This is so we can retrieve tweets from their account later. I think it's good to follow them in case their account is private.

[2018-11-26 19:21] ykdojo commented on #35
I think I'm going to work on this and #36 today.

[2018-11-26 19:21] ykdojo commented on #36
I think I'm going to work on this and #35 today.

[2018-11-26 19:36] ykdojo commented on #30
I changed the app on Twitter's developer site to read-only. (screenshot below)

I think it's much better, but @EditDojo still needs to be able to post (write) tweets. But it turns out, tokens generated BEFORE changing the permission settings still have the same permissions. So, we can just keep using the same tokens to write tweets. If ever we need to refresh the tokens in the future, maybe we can

[2018-11-26 19:37] #30 closed

[2018-11-26 19:56] ykdojo commented on #35
Trying to understand how user models work in Django.

I think I'll look into these tutorials:
- https://wsvincent.com/django-referencing-the-user-model/
- https://wsvincent.com/django-user-authentication-tutorial-login-and-logout/
- https://wsvincent.com/django-allauth-tutorial-custom-user-model/

[2018-11-26 21:31] ykdojo commented on #35
Created a custom user model. If you want to set this environment on your computer, you might need to delete the database file and re-run migrations.

[2018-11-26 21:32] ykdojo commented on #35
Anyway, after creating this custom user model, this seems to be working. So, I'll close this issue now.

[2018-11-26 21:32] #35 closed

[2018-11-26 21:32] ykdojo commented on #36
I think I'm going to work on this next.

[2018-11-30 21:39] ykdojo commented on #36
done: https://github.com/ykdojo/editdojo/commit/272737dee8d6eb6bfc74bb214e3cbf7ce62a3e0c

[2018-11-30 21:39] #36 closed

[2018-12-01 20:47] ykdojo opened #37 "When following a user on Twitter, use their ID instead of their handle"
We need to do this just in case the user changes their user handle on Twitter.

[2018-12-04 21:46] ykdojo commented on #37
I'm going to work on this now.

[2018-12-04 22:10] ykdojo commented on #37
NOTES: in my Django console, I did the following.

from users.models import CustomUser
from allauth.socialaccount.models import SocialAccount

u = CustomUser.objects.filter(username = 'ykdojo')[0]
sa = SocialAccount.objects.filter(user = u)[0]
sa.uid # this gives me my Twitter ID, I think. I should be able to use this ID to follow this account instead of using the Twitter handle, which the user mi

[2018-12-05 01:21] ykdojo opened #38 "Take care of a case when a user's Twitter account is private"

[2018-12-05 01:36] ykdojo commented on #37
done: https://github.com/ykdojo/editdojo/commit/2f58d0dda796f1427c7cea89975881e7360fbd73#diff-757161424b6bdcacf00ccf49c6300b80R8

[2018-12-05 01:36] #37 closed

[2018-12-05 01:47] ykdojo opened #39 "Create a sign up form where the new user selects which language they are learning"
We're going to start with just Japanese and English.

[2018-12-05 03:35] ykdojo opened #40 "Create welcome text that explains how the app works"

[2018-12-05 03:37] ykdojo commented on #40
Welcome to Edit Dojo! (Beta)

How it works:
1. You write tweets in the language you're learning from your Twitter account
2. Native speakers of that language will edit your tweets so you can improve your writing skills
3. You will edit other people's posts in your native tongue.
4. NOTE: It's currently only available for Japanese and English. If you want to practice writing in other languages, ple

[2018-12-05 03:53] ykdojo commented on #40
Done. Still pretty ugly though. https://github.com/ykdojo/editdojo/commit/ed2904974f8a3d535f73feea6a64da5dd0969212

[2018-12-05 03:53] ykdojo commented on #40
![image](https://user-images.githubusercontent.com/1811651/49489063-6d826b00-f817-11e8-9eec-eecfde56b96b.png)

[2018-12-05 03:53] #40 closed

[2018-12-05 03:55] ykdojo opened #41 "Make the welcome message look prettier"
I made the text in #40, but it's freakin ugly right now lol

![image](https://user-images.githubusercontent.com/1811651/49489119-986cbf00-f817-11e8-8782-6952223d54c1.png)

[2018-12-05 03:57] ykdojo commented on #41
Twitter Bootstrap is an option, but I also want to try using Materialize. https://materializecss.com/

[2018-12-05 19:33] ZEDGR commented on #27
Hello there!

I will like to give my humble opinion about the deployment of this awesome project/idea.

**About the DB:** I will suggest PostgreSQL. Because is the most favored database from the Python and Django community. Therefore you will see that for PostgreSQL the Django ORM has better support in many of its features.

**About the Cloud Provider/Host:** GCP and AWS is giving you 12-months fr

[2018-12-05 19:51] ykdojo commented on #27
Okay thank you! I will probably try using PostgreSQL for this then. Hmm based on that, GCP might be a good option from the cost perspective.

[2018-12-05 19:55] ykdojo opened #42 "Decide which CSS framework to use"
I'm thinking of using either Bootstrap (https://getbootstrap.com/) or Materialize (https://materializecss.com/).

Which one is better? Are there any other good options?

[2018-12-05 20:00] ykdojo commented on #42
This might be good for the sign-in page: https://getbootstrap.com/docs/4.1/examples/sign-in/

[2018-12-05 20:23] ykdojo commented on #41
This theme looks good, too. I'm wondering if I should use it: http://themes.getbootstrap.com/preview/?theme_id=1714&show_new=

[2018-12-05 20:24] ykdojo commented on #42
This theme looks good, too. I'm wondering if I should use it: http://themes.getbootstrap.com/preview/?theme_id=1714&show_new=

[2018-12-05 21:00] ykdojo commented on #42
Looks like there's a free version of that theme, too: https://github.com/creativetimofficial/material-kit

I'm thinking of giving it a try to see how it looks.

[2018-12-05 21:03] ykdojo commented on #41
TODO: Download this Bootstrap theme and try making this welcome page with it: https://github.com/creativetimofficial/material-kit

[2018-12-06 03:56] ykdojo commented on #39
I'm going to work on this next.

[2018-12-06 05:35] ykdojo opened #43 "Take care of the case when a user blocks @EditDojo on Twitter"
We expect most users NOT to do this, but just in case.

[2018-12-06 05:38] ykdojo commented on #39
People should be able to select one of "both Japanese and English," "only Japanese", or "only English".

[2018-12-06 05:40] ykdojo commented on #23
NOTE: there's already a PR for this. https://github.com/ykdojo/editdojo/pull/29

Will come back to this when it's more immediately useful.

[2018-12-06 06:01] ykdojo commented on #41
Some reference websites (I think their landing pages look nice):
- https://linktr.ee/
- https://www.dailycodingproblem.com/

[2018-12-06 21:10] ykdojo commented on #39
UI text for this:

**Select your languages**

I'm learning...
+ Japanese or English, or both

I'm fluent in...
+ Japanese or English, or both (make this UI general enough so we can add more languages later)

NOTE: People need to select at least one language in each category.
Also add something like the following:

NOTE: It's currently only available for Japanese and English. If you want to practic

[2018-12-06 21:11] ykdojo commented on #39
Working on this now, as well as #41

[2018-12-06 21:23] ykdojo opened #44 "Install material-kit (the free version)"
https://github.com/creativetimofficial/material-kit

[2018-12-06 21:41] ykdojo commented on #44
done: https://github.com/ykdojo/editdojo/commit/65ec18502fee76b38d56233be813093c568bf0b7

[2018-12-06 21:42] #44 closed

[2018-12-06 21:42] ykdojo commented on #41
Just did #44

[2018-12-06 21:52] ykdojo commented on #42
Just did #44 for now

[2018-12-06 22:01] ykdojo commented on #39
Made some bare UI at https://github.com/ykdojo/editdojo/commit/1abbd84f0f3a21c3a4c71683afb0df7befdf2548
![image](https://user-images.githubusercontent.com/1811651/49614490-70e13800-f978-11e8-8e76-abc277e78b75.png)

[2018-12-07 23:46] ykdojo commented on #39
TODO Next: When someone selects **English** or **Japanese**, a plus sign should appear for people to select another language. (but not the same one twice)

[2018-12-07 23:49] ykdojo commented on #39
Also, TODO: We should fix the style a bit so it looks better.

[2018-12-07 23:57] ykdojo commented on #39
Just found this. I'm thinking of using it: https://developer.snapappointments.com/bootstrap-select/

[2018-12-08 00:16] ykdojo commented on #39
Experimented with it a little bit, and it looks really good. However, it looks like bootstrap-select and material-kit try to fight with each other when I try to use them at the same time. Will need to figure out a way to make them work at the same time.

[2018-12-08 02:59] ykdojo commented on #39
Okay, the problem is this:

In order for us to use bootstrap-select, we need to use the plain bootstrap CSS and JS files.

So, there's no easy way to use bootstrap-select and material-kit at the same time.

I still really like how material-kit looks, so I think I'll prioritize that.

Instead of using bootstrap-select, I'll add a bit of code so we can do multi-selecting.. At least that's my plan ri

[2018-12-08 03:52] ykdojo commented on #39
People can now select multiple languages.

![image](https://user-images.githubusercontent.com/1811651/49681590-9d797a80-fa72-11e8-8a02-6bb4ce408744.png)

Now we will have to:
A) Fix the style so it looks nicer
B) Write some backend code so people can actually sign up

[2018-12-08 03:55] ykdojo commented on #39
Oops. Actually, this code contained a bug. When you select Japanese and immediately change it to English, it keeps creating more and more select elements. Will need to fix it... maybe I'll take care of this tomorrow.

[2018-12-08 22:49] ykdojo commented on #39
Fixed it. This works well now. We still need to fix the styles though-- will make this a new issue.

![image](https://user-images.githubusercontent.com/1811651/49691497-9bb2c400-fb11-11e8-9dd0-9f668af22fc3.png)

[2018-12-08 22:50] ykdojo opened #45 "Fix the styles of sign up form where the new user selects languages"
I think the functionality of this one is good now (#39). It's just a matter of fixing the UI to make it look prettier.

[2018-12-08 22:51] ykdojo commented on #39
Done. The new issue for fixing the looks of this is #45.

[2018-12-10 04:29] Jonathantsho opened #46 "[Installation] Keys_format.py instead of keys.py?"

[2018-12-10 04:44] ykdojo commented on #41
Working on this separately here: https://github.com/ykdojo/EditDojoLP

[2018-12-10 04:45] ykdojo commented on #39
Actually, this is not quite done yet. Still need to make backend and database changes.

[2018-12-10 04:46] Jonathantsho commented on #27
I highly recommend AWS, like @ZEDGR said - you get 12 months free usage for ec2 ( to host your server) and also 12 months free usage for RDS (host database). The free tier will be more than enough to build your MVP/prototype off of.

Check out more info at: https://aws.amazon.com/free/

AWS also has by far the best support in terms of stack overflow Q&A, making it much easier in terms of time spen

[2018-12-10 04:46] ykdojo commented on #46
Hmm maybe add a bit of description about this on README?

[2018-12-10 20:17] ykdojo commented on #27
Okay, thanks Jonathan. I think I'll go with AWS then

[2018-12-11 01:56] ykdojo commented on #46
#47

[2018-12-11 01:57] ykdojo commented on #39
Just started working on this.

[2018-12-11 02:35] ykdojo commented on #39
Looks like we'll need to use fixtures to load initial language data.
https://docs.djangoproject.com/en/2.1/howto/initial-data/

[2018-12-11 03:42] ykdojo commented on #39
Just submitted these commits:
- https://github.com/ykdojo/editdojo/commit/c05cdda4e308b984a14379f06aaad79077c3a79b
- https://github.com/ykdojo/editdojo/commit/f35aa9ce282a5b29c25b4ec467478a19b61a1d6a
- https://github.com/ykdojo/editdojo/commit/041d38b8c04f42853ace3936d4af03cdc90a3f22
- https://github.com/ykdojo/editdojo/commit/9e46e8918a5efa8b4f710ead7c215d7f5773242a

Will probably work on it some

[2018-12-11 03:42] #46 closed

[2018-12-11 20:27] ykdojo opened #48 "In the landing page, the scrolling animation is too slow (I think)"

[2018-12-11 20:30] ykdojo commented on #41
DONE!!!

<img width="1280" alt="landing_page_sample_1" src="https://user-images.githubusercontent.com/1811651/49828334-9d6ec880-fd59-11e8-9709-3076c36a1f79.png">

<img width="1280" alt="landing_page_sample_2" src="https://user-images.githubusercontent.com/1811651/49828341-a069b900-fd59-11e8-83ff-e0e37df1026d.png">

[2018-12-11 20:30] #41 closed

[2018-12-11 20:31] ykdojo commented on #39
TODO next: create a relationship between users and languages (each user can be **fluent in** one or more languages, as well as **learning** one or more languages

[2018-12-11 22:22] ykdojo commented on #39
1a9fdfa

[2018-12-11 22:22] ykdojo commented on #39
Next: Connect the UI to the database so the user is able to select which languages they are learning / fluent in

[2018-12-11 22:23] ykdojo commented on #39
(NOTE: you can get learning_languages of a user with user.learning_languages, for example.)

[2018-12-11 22:38] ykdojo commented on #39
d3ac7dc

[2018-12-12 20:42] ykdojo commented on #39
Done for now: 6ea8ef2f69e40881115e02efb41bdca2baf73a06

Still need to fix the redirect that happens when the POST request is successful. I'll create a new issue for it.

[2018-12-12 20:42] #39 closed

[2018-12-12 20:42] ykdojo opened #49 "When the user selects the languages they are learning/fluent in, redirect to a more meaningful page/state"

[2018-12-12 20:43] ykdojo commented on #49
This is the continuation of #39

[2018-12-12 20:43] ykdojo commented on #49
I'm going to work on this one next.

[2018-12-13 22:35] #49 closed

[2018-12-13 22:35] #48 closed

[2018-12-13 22:35] #45 closed

[2018-12-13 22:36] ykdojo opened #50 "When the user finishes the signup flow, we should show them tweets in the language they're fluent in"

[2018-12-13 22:38] #42 closed

[2018-12-14 02:30] ykdojo opened #51 "Make a worker script that periodically retrieves users' tweets."
I think the easiest way to do this would be to follow all the users from @EditDojo.

That way, we'll just need to retrieve the home timeline periodically.

[2018-12-14 02:31] ykdojo opened #52 "Take care of the case when we try to follow someone or retrieve tweets, the API fails"

[2018-12-14 02:40] ykdojo commented on #52
Working on this next.

[2018-12-14 02:48] ykdojo commented on #52
Looks like there's a follow limit... This could be a problem. https://help.twitter.com/en/using-twitter/twitter-follow-limit

[2018-12-14 02:49] ykdojo commented on #52
That's 5000 people.

[2018-12-14 02:56] ykdojo commented on #52
One way to overcome this problem might be to use Twitter lists.

https://help.twitter.com/en/using-twitter/twitter-lists-not-working

It's 1000 lists max, and 5000 accounts / list. So that's 5 million users max.

[2018-12-14 03:05] ykdojo commented on #52
This might be the answer.
https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-statuses

[2018-12-14 04:35] #50 closed

[2018-12-14 04:36] #38 closed

[2018-12-14 04:36] #43 closed

[2018-12-18 02:08] ykdojo opened #53 "Set up HTTPS on Heroku"

[2018-12-18 02:24] ykdojo opened #54 "Fix the scrolling issue on the phone"
When you slowly scroll on the sign up page on my iPhone, the whole screen expands and contracts vertically.

[2018-12-24 08:37] Stunner commented on #27
I strongly recommend using Docker as it allows you develop in one environment and then deploy it anywhere without fuss. Something you should learn sooner rather than later. I too am fairly new to backend/web dev and am glad I took the time to learn it.

[2019-01-02 23:58] tushar-punjabi commented on #23
would it be easier to implement google traductors feature of automatic language detection or its something extra and unnecessary ? @ykdojo

[2019-01-03 08:18] Starlaxy commented on #27
also take a look at AWS Elastic Beanstalk https://aws.amazon.com/elasticbeanstalk/ it handles deployment n scaling for you. And it doesn't have extra fee, you still pay only for the aws resource you use. c:

[2019-01-03 17:42] ykdojo commented on #27
Okay sounds good! We are actually thinking of using Elastic Beanstalk now.

[2019-01-03 17:43] #53 closed

[2019-01-03 18:31] ykdojo commented on #23
Yeah, actually I think that will be ideal.

[2019-01-03 21:33] ykdojo commented on #27
I've been trying to use AWS Elastic Beanstalk for a few days, but it's actually a huge pain to set up compared to Heroku.

I'm wondering if we should go with Heroku for now just to cut down the set up time at the beginning.

Also @Stunner, thanks for the info. I think I should learn it at some point, too. Dealing with different platforms (AWS and Heroku) has been such a pain...

[2019-01-04 05:10] utkarshdubey2 commented on #27
Heroku is nice. Not on the production front but still offers good features. Plus anyone can use it without a credit card. I recommend using it for now so we could at least have a working example but in future use something like Digital Ocean or Docker

[2019-01-04 05:12] ykdojo commented on #27
Hmm why is it not good on production?

[2019-01-04 07:03] utkarshdubey2 commented on #27
If you're doing machine learning or other GPU-intensive work, Heroku might not be a great fit. With these lines in order I hope you understand. Also it's less scalable and more costly. It's architecture isn't good for production. Plus it gives you less customization.

[2019-02-09 06:50] franksierra commented on #27
I will give a +1 on DigitalOcean, i have some production servers hosted there.

[2019-03-29 06:35] xTEddie commented on #27
I'd use Docker to containerize the application so that I'll be able to run the app in any environment very quickly without worrying about the configurations once it's set up once. I'd use Digital Ocean to host the app in the end. Personally, I find Digital Ocean more friendly than AWS. It's $5/month for 1GB of Memory and 1 CPU. I'd get SSL certificates for free with Let's Encrypt to have my websit

[2019-09-21 19:44] MathiasDevelopes opened #58 "DoesNotExist at /accounts/twitter/login"
Request Method: | GET
-- | --
http://127.0.0.1:8000/accounts/twitter/login/
2.1.2
DoesNotExist
SocialApp matching query does not exist.
C:\Users\ninte\.virtualenvs\editdojo-mEFwjXpH\lib\site-packages\django\db\models\query.py in get, line 399
C:\Users\ninte\.virtualenvs\editdojo-mEFwjXpH\Scripts\python.exe
3.7.2
['E:\\editdojo',  'C:\\Users\\ninte\\.virtualenvs\\editdojo-mEFwjXpH\\Scripts\\python3

[2022-06-12 17:29] Starnt-xyz opened #65 "Hello YK"
is this project still alive